<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
  <body>
    <div class="header">
      <h1>Города-миллионники России</h1>
    </div>

    <div class="selector">
      <mat-form-field appearance="fill">
        <mat-label>Город</mat-label>
        <mat-select [(ngModel)]="selectedCity" (selectionChange)="showSelectedCity()" name="city">
          <mat-option *ngFor="let city of cities" [value]="city">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="description">
      <h2>Описание:</h2>
      <h3>{{selectedCity.description}}</h3>
      <h2>Численность населения:</h2>
      <h3>{{selectedCity.populationSize}} человек</h3>
    </div>

    <div class="map">
      <h2>Город на карте</h2>
      <div id="map"
           leaflet
           (leafletMapReady)="onReadyMap($event)"
           [leafletOptions]="mapOptions">
      </div>
    </div>
  </body>
</html>
