<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
  <body>
    <div class="hat">
      <h1>Большие города России</h1>
    </div>
    <div class="selector">
      <mat-form-field appearance="fill">
        <mat-label>Город</mat-label>
        <mat-select [(ngModel)]="coordinateBySelectedCity" (selectionChange)="showSelectedCity()" name="city">
          <mat-option *ngFor="let city of cities" [value]="city.coordinate">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div id="map"
         leaflet
         (leafletMapReady)="onReadyMap($event)"
         [leafletOptions]="mapOptions">
    </div>
  </body>
</html>
